.main {
  margin: 1vh;
}
.divBox {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 20vw;
  font-size: medium;
  gap: 6px;
}
.CroppperWrapper {
  position: relative;
  height: 80vh;
  background-color: yellowgreen;
}
.inputBox {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.cropper {
  background-color: black;
  color: black;
  /* display: flex; */
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.buttons {
  z-index: 3;
}
